.bg-cinza-stattus4 {
    background-color: #404040 !important;}
.bg-roxo-stattus4 {
    background-color: #8086C0 !important;}
.bg-branco-stattus4 {
    background-color: #F9FFFB !important;}
.bg-azul-stattus4 {
    background-color: #73D1FF !important;}
.bg-verde-stattus4 {
    background-color: #6EFF94 !important;}

/* Body Colors */

.bg-cinza-escuro-stattus4 {
    background-color: #202020 !important;
}

/* Color change sgv base-full */

.fill-roxo {
    fill: #8086C0; }

/* Text color stattus4 */

.text-verde-stattus4 {
    color: #6EFF94 !important;}
.text-azul-stattus4{
    color: #73D1FF !important;}
.text-branco-stattus4 {
    color: #F9FFFB !important;}

/* Boletim CSS */

.place-holder-clientes{
    max-height: 300px;
    overflow-y: auto;
}

.btn-pdf {
    margin-top: 30px;
}
.buscador-lmt {
    width: 200px;
}
/* tabela do fluid */
.tbl-fluid{
    position: sticky;
    top: 0;
}

/* dash-ADA */
.map-style {
    width: 90%;
    height: 400px;
}

.tabela-1{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow: auto;
}
.tabela-2{
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.thead-2{
    position: sticky;
    top: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 95%; /* Ou qualquer outro valor que você desejar */
    }
}
