.bg-cinza-stattus4 {
    background-color: #404040 !important;}
.bg-roxo-stattus4 {
    background-color: #8086C0 !important;}
.bg-branco-stattus4 {
    background-color: #F9FFFB !important;}
.bg-azul-stattus4 {
    background-color: #73D1FF !important;}
.bg-verde-stattus4 {
    background-color: #6EFF94 !important;}

/* Body Colors */

.bg-cinza-escuro-stattus4 {
    background-color: #202020 !important;
}

/* Color change sgv base-full */

.fill-roxo {
    fill: #8086C0; }

/* Text color stattus4 */

.text-verde-stattus4 {
    color: #6EFF94 !important;}
.text-azul-stattus4{
    color: #73D1FF !important;}
.text-branco-stattus4 {
    color: #F9FFFB !important;}