<div class="container">
    <div class="row justify-content-center">
        <!-- Coluna do Formulário -->
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header bg-cinza-stattus4 text-white d-flex justify-content-between align-items-center">
                        Clientes
                        <div class="input-group input-group-alternative input-group-merge buscador-lmt">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input id="clienteSearch" class="form-control" placeholder="Buscar" type="text">
                        </div>
                    </div>
        
                    <div class="place-holder-clientes">
                        {% for client_id, client_data in cliente.items %}
                        <div class="client-container">
                            <h2 class="mb-0 d-flex justify-content-between align-items-center">
                                <span class="btn btn-link text-left flex-grow-1" 
                                    data-id="{{ client_id }}" 
                                    data-name="{{ client_data.name }}"
                                    onclick="sendClientId(this)">
                                  {{ client_data.name }}
                                </span>
                            </h2>
                            
                            <ul class="list-group">
                                {% for sub_client in client_data.sub_clients %}
                                <li class="list-group-item btn-link"
                                    type="button" data-id="{{ sub_client.0 }}"
                                    data-name="{{ sub_client.1 }}"
                                    onclick="sendClientId(this)">
                                    {{ sub_client.1 }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}
                    </div>             
                </div>
            </form>
        </div>
        

        <!-- Gráfico de Barras -->
        <div class="col-12 col-md-6 col-lg-8 mx-auto">
            <div class="card mb-3">
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="bar-chart-amostras" class="chart-canvas"
                            height="300px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gráfico de Linha -->
        <div class="col-12 col-md-6 col-lg-6 mx-auto">
            <div class="card mb-3">
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="pie-chart" class="chart-canvas"
                            height="300px"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gráfico de Pizza -->
        <div class="col-12 col-md-6 col-lg-6 mx-auto">
            <div class="card mb-3">
                <div class="card-body p-3">
                    <div class="chart">
                        <canvas id="bar-chart-pontos" class="chart-canvas"
                            height="300px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
