{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="header bg-cinza-escuro-stattus4 pb-3">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Fluid</h6>
                    <nav aria-label="breadcrumb"
                        class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i
                                        class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                            <li class="breadcrumb-item active"
                                aria-current="page">Fluid</li>
                        </ol>
                    </nav>
                </div>
                <!-- START - template forms -->
                <div class="col-lg-6 col-12 text-lg-right text-left">
                    {% comment %} <form
                        class="d-lg-flex d-block justify-content-lg-end justify-content-start"
                        method="POST">
                        {% csrf_token %}
                        <div class="mr-2 mb-lg-0 mb-2">
                            <label for="{{ form.date_1.id_for_label }}"
                                class="mr-2 text-white">De:</label>
                            {{ form.date_1 }}
                        </div>
                        <div class="mr-2 mb-lg-0 mb-2">
                            <label for="{{ form.date_2.id_for_label }}"
                                class="mr-2 text-white">Até:</label>
                            {{ form.date_2 }}
                        </div>
                    </form> {% endcomment %}
                </div>
                <!-- END - template forms -->
            </div>
        </div>
    </div>
</div>

{% include "dashboard/fluid/context/tabela-fluid.html" %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

<script>
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }
    
    function filterTableRows() {
        let filter = normalizeString(this.value);
    
        // Itera sobre todas as linhas da tabela
        document.querySelectorAll('table tbody tr').forEach(function(row) {
            let clientNameCell = row.querySelector('td:first-child');
            let clientName = normalizeString(clientNameCell.textContent);
    
            // Se o nome do cliente corresponder, mostre a linha. Caso contrário, esconda a linha.
            if (clientName.includes(filter)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }
    
    // Adiciona evento para filtragem ao digitar
    document.getElementById("tableSearch").addEventListener("input", filterTableRows);
    
    // Adiciona evento para evitar que Enter submeta o formulário
    document.getElementById("tableSearch").addEventListener('keydown', function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            return false;
        }
    });
    
</script>

{% endblock javascripts %}